.flex-parent {
    display: flex;
  }

.flex-child {
    flex: 1;
}

.image {
    background-image: url("../../assets/imgs/teste.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    min-height: 100px;
    max-height: 200px;
    min-width: 100px;
    max-width: 500px;
}