<div [ngStyle]="{'background-image':'url('+ this.getBackgroundImage() +')', 'width': getWidthSize()+'vw'}" class="flex-parent image"
     [class.image-choice]="toChoice">
    <div class="flex-child">
        <button ion-button icon-only class="center" (click)="playMidi()" [color]="getColor()">
            <ion-icon name="play"></ion-icon>
        </button>
    </div>
    <div class="flex-child" *ngIf="toChoice">
        <button ion-button icon-only class="center" (click)="applyChoice()" [color]="getColor()">
            <ion-icon name="ios-checkmark-circle"></ion-icon>
        </button>
    </div>
    <div class="flex-child">
        <button ion-button icon-only class="center" (click)="goToMusicalInstrumentChoice()" [color]="getColor()">
            <ion-icon [name]="visualMidiProvider.getIonIconToMidiNumber(midiChoice.musicalInstrument)"></ion-icon>
        </button>       
    </div>
</div>