
<div class="flex-parent" *ngIf="compositionControl && compositionControl.composition">
        <button ion-button icon-only large class="flex-child" (click)="teste()">
            <ion-icon name="play"></ion-icon>
        </button>

        <button ion-button icon-only large class="flex-child" color="secondary" (click)="changeKeySignature()">
            <ion-icon [name]="visualMidi.getIonIconToMayorKeySignatureNumber(compositionControl.composition.keySignature)"></ion-icon>
        </button>

        <button ion-button large class="flex-child" color="danger" (click)="changeTempo()">
            <ion-icon name="tempo"></ion-icon>
            = {{compositionControl.composition.tempo}}
        </button>

        <button ion-button icon-only large class="flex-child" color="secondary">
            <ion-icon name="undo"></ion-icon>
        </button>

        <button ion-button icon-only large class="flex-child">
            <ion-icon name="download"></ion-icon>
        </button>

</div>