<ion-card>
    <ion-card-content>
        <div class="flex-parent">
            <div class="flex-child-play">
                <button ion-button large class="center" (click)="teste()">
                    <ion-icon name="play"></ion-icon>
                </button>
            </div>
            <div class="flex-child-controls">
                <ion-list *ngIf="composition && composition.compositionOptions ">
                    <ion-item>
                        <ion-label item-start color="secondary">Tonalidade</ion-label>
                        <ion-badge item-end color="secondary">{{composition.compositionOptions.TONE_VALUES[composition.compositionOptions.keySignatureIndex]}}</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-range min="0" 
                                   [max]="composition.compositionOptions.TONE_VALUES.length - 1" 
                                   step="1" 
                                   snaps="true" 
                                   [(ngModel)]="composition.compositionOptions.keySignatureIndex"
                                   color="secondary">
                        <ion-label range-left >{{composition.compositionOptions.TONE_VALUES[0]}}</ion-label>
                        <ion-label range-right>{{composition.compositionOptions.TONE_VALUES[composition.compositionOptions.TONE_VALUES.length - 1]}}</ion-label>

                        </ion-range>
                    </ion-item>
                    <ion-item>
                        <ion-label item-start color="danger">Tempo</ion-label>
                        <ion-badge item-end color="danger">{{composition.compositionOptions.tempo}}</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-range [min]="composition.compositionOptions.minTempoValue" 
                                   [max]="composition.compositionOptions.maxTempoValue" 
                                   pin="true" 
                                   [(ngModel)]="composition.compositionOptions.tempo" 
                                   color="danger"
                                   [step]="composition.compositionOptions.stepTempoValue" >
                        <ion-label range-left >{{composition.compositionOptions.minTempoValue}}</ion-label>
                        <ion-label range-right>{{composition.compositionOptions.maxTempoValue}}</ion-label>
                        </ion-range>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-card-content>
</ion-card>