<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    
    <ion-item [class.input-invalid]= "!fileNameForm.controls.fileName.valid">
        <ion-label floating>Nome do arquivo
            <p class="invalid" *ngIf="!fileNameForm.controls.fileName.valid && fileNameForm.controls.fileName.errors.validation_error">Ocorreu um erro no processo de validação</p>
            <p class="invalid" *ngIf="!fileNameForm.controls.fileName.valid && fileNameForm.controls.fileName.errors.required">Valor requerido</p>
            <p class="invalid" *ngIf="!fileNameForm.controls.fileName.valid && fileNameForm.controls.fileName.errors.format_error">Permitidos somente letras, números, hífen, underline, e espaço e não pode começar com espaço.</p>
        </ion-label>
        <ion-input [formControl]="fileNameForm.controls.fileName" type="text" [(ngModel)]="fileName"></ion-input>
    </ion-item>
    
    <button ion-button (click)="downloadMidi()" [disabled]="!fileNameForm.valid">
        Download
    </button>
    
</ion-content>