<ion-header>

  <ion-navbar>
    <ion-title>Bem vindo ao Tagarela!</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-label>
        Bem vindo ao módulo de composição musical do Tagarela.
    </ion-label>
     
    <ion-label *ngIf="defaultCompositionSources">
        Para começar, selecione o conjunto de dados de composição que deseja manupular: 
    </ion-label>
    
    <ion-item *ngIf="defaultCompositionSources">
        <ion-label>Dados de composição</ion-label>
        <ion-select [(ngModel)]="chosedCompositionSource" interface="popover">
            <ion-option *ngFor="let compositionSource of defaultCompositionSources" [value]="compositionSource">{{compositionSource}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-label>
        Em breve, aqui, a opção de escolher arquivos de composição personalizados
    </ion-label>

</ion-content>