<div class="image2 center2">
    <button ion-button icon-only class="flex-child" (click)="teste()">
        <ion-icon name="play"></ion-icon>
    </button>      
    <button ion-button icon-only class="flex-child" (click)="volumeDown()">
        <ion-icon name="volume-down"></ion-icon>
    </button>  
    <ion-item class="flex-child">
        <ion-label>{{compositionLine.lineCompositionOptions.volume}}</ion-label>
    </ion-item>
    <button ion-button icon-only class="flex-child" (click)="volumeUp()">
        <ion-icon name="volume-up"></ion-icon>
    </button>    
</div>