<ion-item>
    <ion-label item-start [color]="color">{{description}}</ion-label>
    <ion-badge item-end   [color]="color">{{value}}</ion-badge>
</ion-item>
<ion-item>

    <ion-range [min]="minRangeValue" 
                [max]="maxRangeValue" 
                [step]="stepRangeValue" 
                [snaps]="snapsRange" 
                [(ngModel)]="value"
                [color]="color">
    <ion-label range-left >{{minRangeValue}}</ion-label>
    <ion-label range-right>{{maxRangeValue}}</ion-label>

    </ion-range>
</ion-item>

<ion-item>
    <button ion-button (click)="goBack()" [color]="color">
        Salvar
    </button>
</ion-item>