<ion-header>

    <ion-navbar>
        <ion-title>setup-composition-source-page</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <button ion-button (click)="save()">Pronto!</button>
    </ion-toolbar>

</ion-header>

<ion-content pager paginationType=“bullets”>
    <ion-slides>
        <ion-slide *ngIf="configControl && configControl.config">
            <ion-scroll scrollY="true" class="scroll">
                <ion-label>Escolha os parâmetros gerais de composição:</ion-label>
                <ion-item>
                    <ion-label floating>Valor mínimo de tempo (BPM)</ion-label>
                    <ion-input type="number" [(ngModel)]="configControl.config.minTempo" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor maximo de tempo (BPM)</ion-label>
                    <ion-input type="number" [(ngModel)]="configControl.config.maxTempo" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Quantidade de números incrementados</ion-label>
                    <ion-input type="number" [(ngModel)]="configControl.config.stepTempo" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor inicial de tempo</ion-label>
                    <ion-input type="number" [(ngModel)]="configControl.config.defaultTempo" ></ion-input>
                </ion-item>
            </ion-scroll>
        </ion-slide>
        <ion-slide *ngIf="configControl && configControl.config">
            <ion-label>Escolha os parâmetros das linhas de composição:</ion-label>
            <ion-scroll scrollY="true" class="scroll">
                <div *ngFor="let lineConfig of configControl.config.linesConfig">
                    <ion-label>{{lineConfig.name}}</ion-label>
                    <ion-item>
                        <ion-label floating>Valor mínimo de volume</ion-label>
                        <ion-input type="number" [(ngModel)]="lineConfig.minVolume" ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Valor maximo de volume</ion-label>
                        <ion-input type="number" [(ngModel)]="lineConfig.maxVolume" ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Quantidade de números incrementados</ion-label>
                        <ion-input type="number" [(ngModel)]="lineConfig.stepVolume" ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Valor inicial de volume</ion-label>
                        <ion-input type="number" [(ngModel)]="lineConfig.defaultVolume" ></ion-input>
                    </ion-item>
                </div>
            </ion-scroll>
        </ion-slide>
        <!--
            <ion-slide *ngIf="configControl">
                <ion-label>Escolha os parâmetros das opções de composição:</ion-label>
                <ion-scroll scrollY="true" class="scroll">
                    <div *ngFor="let musicalCompositionOptionOption of lineControl.musicalCompositionOptionOptions">
                        <ion-label>{{musicalCompositionOptionOption.name}}</ion-label>
                        <ion-item>
                            <ion-label>Instrumentos</ion-label>
                            <ion-select [(ngModel)]="musicalCompositionOptionOption.musicalInstrumentsValues" multiple="true">
                                <ion-option value="0">Piano</ion-option>
                                <ion-option value="21">Acordeon</ion-option>
                                <ion-option value="24">Violão</ion-option>
                                <ion-option value="56">Trompete</ion-option>
                                <ion-option value="65">Saxofone</ion-option>
                            </ion-select>
                        </ion-item>
                    </div>
                </ion-scroll> 
            </ion-slide>
        -->
    </ion-slides>
</ion-content>