.flex-parent {
    display: flex;
  }

.flex-child-line-control {
    flex: 1;
}

.image2 {
    display: inline-block;
    height: 10vh;
}

.old-android-margin {
    margin-top: 5vh;
}
