<ion-header>

    <ion-navbar>
        <ion-title>Bem vindo ao Tagarela!</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    Bem vindo ao módulo de composição musical do Tagarela.
     
    <div *ngIf="defaultCompositionSources">
        Para começar, selecione o conjunto de dados de composição que deseja manupular: 
    </div>
    
    <ion-item *ngIf="defaultCompositionSources">
        <ion-label>Dados de composição</ion-label>
        <ion-select [(ngModel)]="chosedDefaultCompositionSource" interface="popover">
            <ion-option *ngFor="let compositionSource of defaultCompositionSources" [value]="compositionSource">{{compositionSource}}</ion-option>
        </ion-select>
    </ion-item>

    Em breve, aqui, a opção de escolher arquivos de composição personalizados

    <ion-item *ngIf="defaultCompositionSources">
        <ion-label>Dados Customizados de composição</ion-label>
        <ion-select [(ngModel)]="chosedCustomCompositionSource" interface="popover">
            <ion-option *ngFor="let compositionSource of customCompositionSources" [value]="compositionSource">{{compositionSource}}</ion-option>
        </ion-select>
    </ion-item>
</ion-content>