<ion-header>

    <ion-navbar color="primary">
        <ion-title>Configuração de Composição</ion-title>
    </ion-navbar>

    <ion-toolbar>
        <button ion-button full (click)="saveConfigAndStartComposition()" [disabled]="!generalForm.valid || !stepFormsIsValid() || !optionFormsIsValid()">
            Começar composição
        </button>
    </ion-toolbar>
    <ion-toolbar>
        
        <ion-segment [(ngModel)]="configSegment" *ngIf="configControl && sourceControl && generalForm && stepForms && optionForms">
            <ion-segment-button value="general">
                <p ion-text [class.invalid]="!generalForm.valid" class="segment-text">Geral</p>
            </ion-segment-button>
            <ion-segment-button value="steps">
                <p [class.invalid]="!stepFormsIsValid()" class="segment-text">Passos</p>
            </ion-segment-button>
            <ion-segment-button value="lines">
                <p [class.invalid]="!lineFormsIsValid()" class="segment-text">Linhas</p>
            </ion-segment-button>
            <ion-segment-button value="options">
                <p [class.invalid]="!optionFormsIsValid()" class="segment-text">Opções</p>
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>

</ion-header>
<ion-content>

    <div [ngSwitch]="configSegment" *ngIf="configControl && sourceControl && generalForm && stepForms && optionForms">
        
        <div *ngSwitchCase="'general'">
            <h6 ion-text class="headers_margin">Escolha os parâmetros gerais de composição:</h6>

            <ion-item>
                <ion-label>Valor mínimo e máximo de tempo (BPM) </ion-label>
                <ion-badge item-end>{{tempoRange.lower}}</ion-badge>
                <ion-badge item-end>{{tempoRange.upper}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-range (ionChange)="updateGeneralFormControl()"
                           [min]="getLowerAllowedTempo()" 
                           [max]="getHighestAllowedTempo()" 
                           [(ngModel)]="tempoRange"
                           pin="true"
                           dualKnobs="true">
                    <ion-label range-left >{{getLowerAllowedTempo()}}</ion-label>
                    <ion-label range-right>{{getHighestAllowedTempo()}}</ion-label>
                </ion-range>
            </ion-item>

            <ion-item>
                <ion-label>Quantidade de números incrementados</ion-label>
                <ion-badge item-end>{{configControl.config.stepTempo}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-range [min]="1" 
                            [max]="getMaxStepValueTempo()" 
                            pin="true"
                            [(ngModel)]="configControl.config.stepTempo">
                    <ion-label range-left>1</ion-label>
                    <ion-label range-right>{{getMaxStepValueTempo()}}</ion-label>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label>Valor inicial de tempo</ion-label>
                <ion-badge item-end>{{configControl.config.defaultTempo}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-range [min]="tempoRange.lower" 
                            [max]="tempoRange.upper" 
                            pin="true"
                            [(ngModel)]="configControl.config.defaultTempo">
                    <ion-label range-left>{{tempoRange.lower}}</ion-label>
                    <ion-label range-right>{{tempoRange.upper}}</ion-label>
                </ion-range>
            </ion-item>

            <form [formGroup]="generalForm">
                
                <h6 ion-text class="headers_margin headers_margin_top">Escolha os parâmetros gerais de tonalidade:</h6>

                <ion-item [class.input-invalid]= "!generalForm.controls.keySignaturesAllowed.valid">
                    <ion-label [class.invalid]  ="!generalForm.controls.keySignaturesAllowed.valid">Tonalidades para escolha:
                        <p class="invalid" *ngIf="!generalForm.controls.keySignaturesAllowed.valid && generalForm.controls.keySignaturesAllowed.errors.validation_error">Ocorreu um erro no processo de validação</p>
                        <p class="invalid" *ngIf="!generalForm.controls.keySignaturesAllowed.valid && generalForm.controls.keySignaturesAllowed.errors.required" >Valor requerido</p>
                    </ion-label>
                    <ion-select [formControl]="generalForm.controls.keySignaturesAllowed" [(ngModel)]="configControl.config.keySignaturesAllowed" multiple="true">
                        <ion-option *ngFor=" let key of configControl.config.baseKeySignaturesAllowed" [value]="key">
                                {{visualMidiProvider.getKeySignatureName(key, configControl.config.mode)}}
                        </ion-option> 
                    </ion-select>
                </ion-item>
                <ion-item [class.input-invalid]= "!generalForm.controls.defaultKeySignature.valid">
                    <ion-label [class.invalid]=  "!generalForm.controls.defaultKeySignature.valid">Tonalidade padrão:
                        <p class="invalid" *ngIf="!generalForm.controls.defaultKeySignature.valid && generalForm.controls.defaultKeySignature.errors.validation_error">Ocorreu um erro no processo de validação</p>
                        <p class="invalid" *ngIf="!generalForm.controls.defaultKeySignature.valid && generalForm.controls.defaultKeySignature.errors.required">Valor requerido</p>
                    </ion-label>
                    <ion-select [formControl]="generalForm.controls.defaultKeySignature" [(ngModel)]="configControl.config.keySignature" multiple="false">
                        <ion-option *ngFor="let key of configControl.config.baseKeySignaturesAllowed" [value]="key">
                                {{visualMidiProvider.getKeySignatureName(key, configControl.config.mode)}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </form>

            <h6 ion-text class="headers_margin headers_margin_top">Escolha os parâmetros gerais de viualização:</h6>
            <ion-item>
                <ion-label>Exibir dados de composição</ion-label>
                <ion-checkbox [(ngModel)]="configControl.config.showCompositionData"></ion-checkbox>
            </ion-item>

        </div>       

        <div *ngSwitchCase="'lines'">
            <h6 ion-text class="headers_margin">Escolha os parâmetros das linhas de composição:</h6>
            <div *ngFor="let lineConfig of configControl.config.linesConfig; let i = index">
                <h6 ion-text class="headers_margin headers_margin_top">{{lineConfig.name}}</h6>
                <ion-item>
                    <ion-label>Valor mínimo e máximo de volume</ion-label>
                    <ion-badge item-end>{{volumeRange[i].lower}}</ion-badge>
                    <ion-badge item-end>{{volumeRange[i].upper}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-range (ionChange)="updateLineFormControl(i)"
                               [min]="getLowerAllowedVolume()" 
                               [max]="getHighestAllowedVolume()" 
                               [(ngModel)]="volumeRange[i]"
                               pin="true"
                               dualKnobs="true">
                        <ion-label range-left >{{getLowerAllowedVolume()}}</ion-label>
                        <ion-label range-right>{{getHighestAllowedVolume()}}</ion-label>
                    </ion-range>
                </ion-item>
    
                <ion-item>
                    <ion-label>Quantidade de números incrementados</ion-label>
                    <ion-badge item-end>{{lineConfig.stepVolume}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-range [min]="getMinStepValueTempo(i)" 
                                [max]="getMaxStepValueTempo(i)" 
                                pin="true"
                                [(ngModel)]="lineConfig.stepVolume">
                        <ion-label range-left>{{getMinStepValueTempo(i)}}</ion-label>
                        <ion-label range-right>{{getMaxStepValueTempo(i)}}</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item>
                    <ion-label>Valor inicial de volume</ion-label>
                    <ion-badge item-end>{{lineConfig.defaultVolume}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-range [min]="volumeRange[i].lower" 
                               [max]="volumeRange[i].upper" 
                               pin="true"
                               [(ngModel)]="lineConfig.defaultVolume">
                        <ion-label range-left>{{volumeRange[i].lower}}</ion-label>
                        <ion-label range-right>{{volumeRange[i].upper}}</ion-label>
                    </ion-range>
                </ion-item>

            </div>
        </div>

        <div *ngSwitchCase="'steps'">
            <h6 ion-text class="headers_margin">Escolha os parâmetros de passos de composição:</h6>
            <div *ngFor="let stepConfig of configControl.config.stepsConfig; let i = index">
                <form [formGroup]="stepForms[i]">
                    <h6 ion-text  class="headers_margin headers_margin_top">{{stepConfig.relativePath}}</h6>
                    <ion-item [class.input-invalid]= "!stepForms[i].controls.quantityOfQuarterNote.valid">
                        <ion-label [class.invalid]=  "!stepForms[i].controls.quantityOfQuarterNote.valid" floating>Quantidade de quartos de nota
                            <p class="invalid" *ngIf="!stepForms[i].controls.quantityOfQuarterNote.valid && stepForms[i].controls.quantityOfQuarterNote.errors.validation_error">Ocorreu um erro no processo de validação</p>
                            <p class="invalid" *ngIf="!stepForms[i].controls.quantityOfQuarterNote.valid && stepForms[i].controls.quantityOfQuarterNote.errors.required">Valor requerido</p>
                            <p class="invalid" *ngIf="!stepForms[i].controls.quantityOfQuarterNote.valid && stepForms[i].controls.quantityOfQuarterNote.errors.not_number">O valor deve ser um número</p>
                            <p class="invalid" *ngIf="!stepForms[i].controls.quantityOfQuarterNote.valid && stepForms[i].controls.quantityOfQuarterNote.errors.not_integer">O valor deve ser um número inteiro</p>
                            <p class="invalid" *ngIf="!stepForms[i].controls.quantityOfQuarterNote.valid && stepForms[i].controls.quantityOfQuarterNote.errors.min_quantity_of_quarter_note">O valor deve ser superior a {{getLowerQuantityOfQuarterNote()}}</p>
                            <p class="invalid" *ngIf="!stepForms[i].controls.quantityOfQuarterNote.valid && stepForms[i].controls.quantityOfQuarterNote.errors.max_quantity_of_quarter_note">O valor deve ser inferior a {{getHighestQuantityOfQuarterNote()}}</p>
                        </ion-label>
                        <ion-input [formControl]="stepForms[i].controls.quantityOfQuarterNote" type="number" [(ngModel)]="stepConfig.quantityOfQuarterNote"></ion-input>
                    </ion-item>
                </form>
            </div>
        </div>

        <div *ngSwitchCase="'options'">
            <h6 ion-text class="headers_margin">Escolha os parâmetros das opções de composição:</h6>
            <div *ngFor="let stepConfig of configControl.config.stepsConfig; let i = index">
                <h6 ion-text class="headers_margin">Passo: {{stepConfig.relativePath}}</h6>
                
                <div *ngFor="let lineConfig of stepConfig.linesConfig; let j = index">
                    <h6 ion-text class="headers_margin">Linha: {{lineConfig.relativePath}}</h6>
                
                    <div *ngFor="let optionConfig of lineConfig.optionsConfig; let k = index">
                        <h6 ion-text class="headers_margin headers_margin_top">Opção: {{optionConfig.fileName}}</h6>
                        
                        <form [formGroup]="optionForms[i][j][k]">

                            <ion-item [class.input-invalid]="!optionForms[i][j][k].controls.musicalInstrumentsAllowed.valid">
                                <ion-label [class.invalid]="!optionForms[i][j][k].controls.musicalInstrumentsAllowed.valid">Instrumentos para escolha:
                                    <p class="invalid" *ngIf="!optionForms[i][j][k].controls.musicalInstrumentsAllowed.valid && optionForms[i][j][k].controls.musicalInstrumentsAllowed.errors.validation_error">Ocorreu um erro no processo de validação</p>
                                    <p class="invalid" *ngIf="!optionForms[i][j][k].controls.musicalInstrumentsAllowed.valid && optionForms[i][j][k].controls.musicalInstrumentsAllowed.errors.required" >Valor requerido</p>
                                </ion-label>
                                <ion-select [formControl]="optionForms[i][j][k].controls.musicalInstrumentsAllowed" [(ngModel)]="optionConfig.musicalInstrumentsAllowed" multiple="true">
                                    <ion-option *ngFor=" let instrument of optionConfig.baseMusicalInstrumentsAllowed" [value]="instrument">
                                            {{visualMidiProvider.getInstrumentNameToMidiNumber(instrument)}}
                                    </ion-option> 
                                </ion-select>
                            </ion-item>
                            <ion-item [class.input-invalid]="!optionForms[i][j][k].controls.defaultMusicalInstrument.valid">
                                <ion-label [class.invalid]="!optionForms[i][j][k].controls.defaultMusicalInstrument.valid">Instrumento padrão:
                                    <p class="invalid" *ngIf="!optionForms[i][j][k].controls.defaultMusicalInstrument.valid && optionForms[i][j][k].controls.defaultMusicalInstrument.errors.validation_error">Ocorreu um erro no processo de validação</p>
                                    <p class="invalid" *ngIf="!optionForms[i][j][k].controls.defaultMusicalInstrument.valid && optionForms[i][j][k].controls.defaultMusicalInstrument.errors.required">Valor requerido</p>
                                </ion-label>
                                <ion-select [formControl]="optionForms[i][j][k].controls.defaultMusicalInstrument" [(ngModel)]="optionConfig.defaultMusicalInstrument" multiple="false">
                                    <ion-option *ngFor="let instrument of optionConfig.baseMusicalInstrumentsAllowed" [value]="instrument">
                                            {{visualMidiProvider.getInstrumentNameToMidiNumber(instrument)}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</ion-content>