.flex-parent {
    display: flex;
  }

.flex-child {
    flex: 1;
}

.choice-margin {
    margin-left: 1%;
    margin-right: 1%;
}

.teste {
    display: inline;
}

.overflow-drag {
    overflow: initial;
}

.float-left-child {
    display: inline-block;
    min-width: 40%;
}

.scroll-1 {
    white-space: nowrap;
    height: 150px;
}

.scroll-2 {
    white-space: nowrap;
    height: 400px;
}

.flex-child-control {
    flex: 10;
}

.flex-child-lines {
    flex: 20;
}

.composition-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-z-index {
    z-index: 10;
}
