
<ion-card class="overflow-drag" *ngIf="compositionControl && getOptionsList().length > 0">
    <ion-card-content class="overflow-drag">
        <div class="teste overflow-drag">
            <ion-scroll id="scroll1" scrollX="true" class="scroll-1"> 
                <div class="choice-margin float-left-child top-z-index" *ngFor="let option of getOptionsList()">
                    <choice-component [midiChoice]="option" [composition]="compositionControl" [toChoice]="true" ></choice-component> 
                </div>
            </ion-scroll> 
        </div>
    </ion-card-content>
</ion-card>
<ion-card *ngIf="compositionControl && getCompositionLinesList().length > 0 && getCompositionLinesList()[0].options.length > 0">
    <ion-card-content>
        <div class="flex-parent">
            <div class="flex-child-control">
                <ion-scroll scrollX="true" class="scroll-2">
                    <div class="composition-line" *ngFor="let compositionLine of getCompositionLinesList()">
                        <line-control-component [compositionControl]="compositionControl" [compositionLine]="compositionLine"></line-control-component>
                    </div>
                </ion-scroll>
            </div>
            <div class="flex-child-lines">
                <ion-scroll scrollX="true" class="scroll-2">
                    <div class="composition-line" *ngFor="let compositionLine of getCompositionLinesList()">
                        <choice-component class="float-left-child" *ngFor="let compositionOption of compositionLine.options"
                        [midiChoice]="compositionOption" [composition]="compositionControl" [minNote]="compositionLine.getMinSpectrumNote()" [maxNote]="compositionLine.getMaxSpectrumNote()">
                        </choice-component>
                    </div>
                </ion-scroll>
            </div>
        </div>
    </ion-card-content>
</ion-card>
