<ion-card>
    Step {{getCompositionStepName()}}
    
    <ion-card-content class="overflow-drag">
        <ion-card class="overflow-drag">
            <ion-card-content class="overflow-drag">
                <div class="teste overflow-drag">
                    <ion-scroll id="scroll1" scrollX="true" class="scroll-1"> 
                        <div class="choice-margin float-left-child top-z-index" *ngFor="let item of getOptionsList()">
                             <choice-component [midiChoice]="item" [composition]="composition" [compositionStepIndex]="compositionStepIndex" [compositionStep]="compositionStep"></choice-component> 
                        </div>
                    </ion-scroll> 
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Record Card
                <div class="flex-parent">
                    <div class="flex-child-control">
                        <ion-scroll scrollX="true" class="scroll-2">
                                <div class="composition-line">
                                    <volume-component class="float-left-child"></volume-component>
                                </div>
                                <div class="composition-line">
                                    <volume-component class="float-left-child"></volume-component>
                                </div>
                                <div class="composition-line">
                                    <volume-component class="float-left-child"></volume-component>
                                </div>
                            </ion-scroll>
                    </div>
                    <div class="flex-child-lines">
                        <ion-scroll scrollX="true" class="scroll-2">
                            <div class="composition-line" *ngFor="let compositionLine of getCompositionLinesList()">
                                <choice-component class="float-left-child" *ngFor="let compositionOption of getCompositionOptionsList(getCompositionLinesList().indexOf(compositionLine))">
                                </choice-component>
                            </div>
                        </ion-scroll>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-card-content>
</ion-card>