<ion-card>
    <ion-card-content>
        <ion-card>
            <ion-card-content>
                <div class="teste">
                    <ion-scroll scrollX="true">
                        
                        <div class="choice-margin float-left-child"> <choice-component></choice-component> </div>
                        <div class="choice-margin float-left-child"> <choice-component></choice-component> </div>
                        <div class="choice-margin float-left-child"> <choice-component></choice-component> </div>
                        <div class="choice-margin float-left-child"> <choice-component></choice-component> </div>

                    </ion-scroll>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Record Card
            </ion-card-content>
        </ion-card>
    </ion-card-content>
</ion-card>