.image4 {
    position: absolute;
    height: 60vh;
    left: 0vh;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    background-position: center;
    padding: 0 0 0 0;
}

.indicator {
    position: absolute;
    width: 1px;
    height: 60vh;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.flex-parent {
    display: flex;
  }

.flex-child {
    flex: 1;
}

