<ion-header>
    <ion-navbar>
        <ion-title>Escolha o Instrumento</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="musicalInstruments">
        <ion-item *ngFor="let musicalInstrument of musicalInstruments" (click)="goBack(musicalInstrument)" >
            <ion-icon [name]="visualMidi.getIonIconToMidiNumber(musicalInstrument)" item-start></ion-icon>
            {{visualMidi.getInstrumentNameToMidiNumber(musicalInstrument)}}
        </ion-item>
    </ion-list>
</ion-content>